.advantages__wrapper {
  padding: 50px 20px 60px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 60px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 99px 30px 84px 30px;
  }
}

.advantages__main-title {
  font-family: $montserrat-bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #7859cf;
  text-align: center;
  margin: 0 0 5px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 2px 0;
  }
}

.advantages__title {
  margin: 0;
  font-size: 24px;
  font-family: $montserrat-bold;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 152.381% */
    margin: 0 0 59px 0;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    margin: 0 0 65px 0;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    margin: 0 0 35px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
  }
}

.advantages__item {
  padding: 99px 0 0 0;

  &--speed {
    background: url("../../images/icon-speed.svg") no-repeat center 35px;
    background-size: 50px 56px;
  }

  &--fit {
    background: url("../../images/icon-fit.svg") no-repeat center 32px;
    background-size: 52px 56px;
  }

  &--energy {
    background: url("../../images/icon-energy.svg") no-repeat center 35px;
    background-size: 42px 56px;
  }

  &--eco {
    background: url("../../images/icon-eco.svg") no-repeat center 32px;
    background-size: 46px 56px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 0 73px;
    background-position: left 0;
  }

  @media (min-width: $desktop-width) {
    width: 337px;
    background-position: center top 20px;
    padding: 94px 13px 0 13px;
    // margin: 0 0 5px;
  }
}

.advantages__subtitle {
  font-size: 18px;
  font-family: $montserrat-regular;
  line-height: 32px;
  margin: 0 0 4px 0;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin: 0 0 12px 0;
    font-family: $montserrat-bold;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 260px;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 312px;
  }
}
