.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: stretch;
    width: 768px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 0 0 40px;
  }
}

.main-nav__logo {
  display: block;

  @media (min-width: $tablet-width) {
    order: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.main-nav__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  width: 320px;
  padding: 0 0 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.main-nav__slogan {
  display: none;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    display: block;
    width: 168px;
    margin-top: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.main-nav__toggle {
  top: 0;
  right: 0;
  display: block;
  width: 16px;
  height: 12px;
  border: none;
  background-position: center;
  background-color: transparent;
  min-width: 60px;
  min-height: 60px;

  &:active {
    background-color: #f0ebff;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 16px;
  height: 12px;
  background-image: url("../../images/burger-menu.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle {
  width: 18px;
  height: 21px;
  background-image: url("../../images/close-button.svg");
  background-repeat: no-repeat;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--closed .site-list__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
