.map__wrapper {
  position: relative;
}

.map__image {
  position: relative;
  display: block;
  z-index: 1;
  width: 100%;
  object-fit: cover;
  height: 420px;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.map__marker {
  position: absolute;
  width: 38px;
  height: 50px;
  background: url("../../images/map-pin.svg") no-repeat;
  z-index: 2;
  top: 45%;
  left: 50%;
}
