.user-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0 0 0 auto;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    max-width: 300px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin: 0 0 0 122px;
    }
  }
}

.user-list__item {
  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.user-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    padding: 0 20px;
    min-width: 112px;
    min-height: 80px;
  }

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
    color: $base-primary;
  }
}

.user-list__link-icon {
  color: $base-black;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  .user-list__link:hover &,
  .user-list__link:focus & {
    color: $base-primary;
  }
}

.user-list__link-text {
  display: none;

  @media (min-width: $desktop-width) {
    margin: 0 0 0 8px;
    display: block;
    font-size: 12px;
    font-family: $montserrat-medium;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
}
